@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
header {
  background: rgba(26, 11, 46, 1);
  max-width: 1600px;
  
}
/* share style */
.btn{
    color: aqua;
    font-size: 1rem;
    background: linear-gradient(35.55deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    font-size: 1rem;
    padding: 12px 16px;
    border-radius: 24px;
}
.display-flex {
  display: flex;
}

/* navbar style  */
nav {
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 30px 0;
}
nav img{
    max-width: 219px;
    height: 32px;
}
.span-humburger span i {
  display: none;
}
nav ul{
    margin-left: 150px;
}
nav ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: white;
}
/* banner style  */
.banner-container{

    height:760px;
    background: url(../assets/hero-bg.png);
    background-size: cover;
    background-position:center top;
    background-repeat: no-repeat;
    margin-top:80px;
    padding: 50px;
}
.image-bg{
    
    justify-items: center;
    margin: 0 auto;
    
}
.banner-image{
    background: url(../assets/hero-circle.png);
     background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    
}

.banner-image img{
    padding: 100px 90px;
}

.banner-text h1{
    font-size: 3.75rem;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}
.banner-text p{
    font-size: 1rem;
    color: white;
    text-align: center;
    margin-bottom: 24px;
}
.btn-box{
    gap: 8px;
    justify-content: center;
}
.btn-3{
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}

@media screen and (max-width:570px) {
    ul li, .btn-hide{
        display: none;
    }
    nav img{
    max-width:100%;
    height:auto;
}
.span-humburger span i {
  display: block;
  color: white;
}
.banner-container{
    width: 100%;
    height:auto;
}

}

