@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
header {
  background: rgba(26, 11, 46, 1);
}
/* share style */
.btn{
    color: aqua;
    font-size: 1rem;
    background: linear-gradient(35.55deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    font-size: 1rem;
    padding: 12px 16px;
    border-radius: 24px;
}
.display-flex {
  display: flex;
}

/* navbar style  */
nav {
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 30px 0;
}
nav img{
    max-width: 219px;
    height: 32px;
}
.btn i {
    
}
span i {
  display: none;
}
nav ul li {
}
ul li a {
    color: white;
}



@media screen and (max-width:570px) {
    ul li, .btn{
        display: none;
    }
    nav img{
    max-width:100%;
    height:auto;
}
.span-humburger span {
  display: block;
  color: white;
  margin-left: 150px;
}

}

