@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
header {
  background: rgba(26, 11, 46, 1);
  max-width: 1600px;
  margin: 0 auto;
  
}
body section{
   
}
/* share style */
.btn{
    color: aqua;
    font-size: 1rem;
    background: linear-gradient(35.55deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    font-size: 1rem;
    padding: 12px 16px;
    border-radius: 24px;
    margin-bottom: 101px;
}
.display-flex {
  display: flex;
}

.hide{
    display: none;
}

/* navbar style  */
nav {
  max-width: 1200px;
  align-items center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 30px 0;
}
nav img{
    max-width: 219px;
    height: 32px;
}
.span-humburger span i {
  display: none;
}
nav ul{
    margin-left: 150px;
}
nav ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: white;
}
/* banner style  */
.banner-container{
    height:760px;
    background: url(../assets/hero-bg.png);
    background-size:auto;
    background-position:center top;
    background-repeat: no-repeat;
    margin-top:80px;
    padding-top: 120px;
}
.image-bg{
    
    justify-items: center;
    margin: 0 auto;
    
}
.banner-image{
    background: url(../assets/hero-circle.png);
     background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    position: relative;
    
}

.banner-image img{
    
    padding: 80px 75px;
}
.nw{
    font-size: 18px;
    background: #00FF88;
    padding: 8px 16px;
    border-radius: 100px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    position: absolute;
    top: 35px;
    right: 1px;
}

.banner-text h1{
    font-size: 3.75rem;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}
.banner-text p{
    font-size: 1rem;
    color: white;
    text-align: center;
    margin-bottom: 24px;
}
.btn-box{
    gap: 8px;
    justify-content: center;
}
.btn-3{
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}

/* rating-section */
.rating{
    display: grid;
    grid-template-columns: repeat(4,240px);
    gap: 80px;
    justify-items: center;
    justify-content: center;
    padding-bottom: 120px;
}

.rating-section{
    background: rgba(26, 11, 46, 1);
    padding-top:4px;
}
.podcast{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
.podcast h1{
    font-size: 3rem;
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.podcast p{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    line-height: 20px;

}
hr{
    color: rgba(255, 255, 255, 0.274);
    max-width: 1200px;
    margin: 80px auto;
}
.rating-card{
    max-width: 240px;
}
.rating-card h1{
    color:rgba(0, 255, 136, 1);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}
.rating-card p{
    color: aliceblue;
    text-transform: capitalize;
    text-align: center;
}

/* card-section */


.card-section{
    background: rgba(26, 11, 46, 1);
    padding: 120px 200px;
}
.card-section h1{
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}
.card-cointainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 120px 200px;
    align-self: center;
    
}
.card-info{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
}
.cdd{
    align-content center;
}
.card-info img{
    max-width: 60px;
    margin-bottom: 16px;
}
.card-info h3{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    margin-bottom: 16px;
}
.card-info p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    line-height: 24px;
}
.Premium-Audio{
    grid-row: span 2;
}
.Mobile-Friendly{
    grid-column: span 2;
}
.Global-Community{
    grid-column: span 2;
}
.Exclusive-Interviews{
    grid-column: span 2;
}
@media screen and (max-width:570px) {

    /* header section  */

    ul li, .btn-hide{
        display: none;
    }
    nav img{
    max-width:100%;
    height:auto;
}
.span-humburger span i {
  display: block;
  color: white;
}

.banner-container{
    width: 100%;
    height:auto;
    background-size: contain;
    margin-top:130px;
    padding: 1px;
    
}
.banner-image{
    background-size:contain;
}
.nw{
    top: -10px;
    right:-5px ;
}
.banner-image img{
    max-width: 150px;
    height: auto;
    padding: 40px 55px;
}
.banner-text h1{
    font-size: 2.75rem;
}
/* rating-section */

.podcast{
    max-width: 95%;
}
.rating{
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    padding:20px;
}
.podcast h1{
    font-size: 2rem;
}
.podcast p{
    font-size: 14px;
    line-height: 25px;
}
hr{
    width: 95%;
    margin: 40px auto;
}
.rating-card{
    max-width:100%;
}
.rating-card h1{
    font-size: 2.5rem;
}
/* card-section */

.card-section{
    padding: 10px;
}
.card-cointainer{
    grid-template-columns: 1fr;
    gap: 30px;
    margin:5px;
}
.card-info img{
    max-width: 100%;
    margin-bottom: 16px;
}
.card-info h3{
    font-size: 1.2rem;
}
.card-info p{
    font-size: 14px;
    line-height: 24px;
}
.Premium-Audio{
    grid-row: span 1;
}
.Mobile-Friendly{
    grid-column: span 1;
}
.Global-Community{
    grid-column: span 1;
}
.Exclusive-Interviews{
    grid-column: span 1;
}
.card-section h1{
    font-size: 2.1rem;
    margin: 40px 0;
}
}